<div *ngIf="showData!=null">
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/show/list']">Show Listing</a></li>
    <li class="active">{{showData.title}}</li>
  </ol>
  <div class="row">
    <div class="col-md-3 text-center">
      <img class="img-thumbnail cover" src="{{showData.cover}}" />
    </div>
    <div class="col-md-9">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6">
            <h4>{{showData.title}} <br/><small>{{showData.episodes.length}} Episodes</small></h4>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="btn-group btn-group-justified">
                  <a *ngIf="favoriteData==0" (click)="addFavorite()" class="btn btn-danger"><span style="color:#fff;" aria-hidden="true" class="glyphicon glyphicon-heart"></span> Favorite</a>
                  <a *ngIf="favoriteData==1" (click)="removeFavorite()" class="btn btn-warning"><span style="color:#fff;" aria-hidden="true" class="glyphicon glyphicon-heart"></span> Remove Favorite</a>
                  <a (click)="tags" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-tags"></span> Tags</a>
                  <a *ngIf="accountData.level==2" (click)="edit()" class="btn btn-default"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span> Edit</a>
                  <a *ngIf="resumeData!=null" [routerLink]="['/watch/'+resumeData.id+'/'+showData.title.toLowerCase().split(' ').join('_')+'/episode_'+resumeData.episode]" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-play"></span> Resume</a>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <strong>Tags:</strong>
                <p>
                  <a class="label label-default">Fantasy</a> <a class="label label-default">Comedy</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p><strong>Summary:</strong> <em [innerHTML]="showData.description"></em></p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row" *ngIf="pages>1">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="{{(page>0)?'':'disabled'}}">
            <a (click)="changePage(page-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let pagenumber of pagelist" class="{{(page==pagenumber)?'active':''}}"><a (click)="changePage(pagenumber)">{{pagenumber+1}}</a></li>
          <li class="{{(page+1<pages)?'':'disabled'}}">
            <a (click)="changePage(page+1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="episodelist">
      <div class="col-md-2" *ngFor="let episode of showData.episodes">
        <!--[episodeData]="episodesData[episode.id]"-->
        <episode [episode]="episode.id" ></episode>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="pages>1">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="{{(page>0)?'':'disabled'}}">
            <a (click)="changePage(page-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let pagenumber of pagelist" class="{{(page==pagenumber)?'active':''}}"><a (click)="changePage(pagenumber)">{{pagenumber+1}}</a></li>
          <li class="{{(page+1<pages)?'':'disabled'}}">
            <a (click)="changePage(page+1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div *ngIf="showData==null" class="loadingIcon"></div>
