<ol class="breadcrumb">
  <li><a [routerLink]="['/']">Home</a></li>
  <li class="active">Show Listing</li>
</ol>
<div class="row" *ngIf="shows!=null">
  <div class="col-lg-12">
    <show [show]="show" *ngFor="let show of shows"></show>
    <div class="col-lg-1 show" *ngIf="accountData.level==2">
      <a class="img-thumbnail" [routerLink]="['/show/create']">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
<!--
background: linear-gradient(to right, rgba(241,237,255,1) {{episode.watching.progress}}%, rgba(255,255,255,0) {{episode.watching.progress}}%);
background: linear-gradient(to right, rgba(243,255,237,1) {{episode.watching.progress}}%,rgba(255,255,255,0) {{episode.watching.progress}}%);
-->
