.show{
  float:left;
  margin:10px;
}
.show>a>img{
  height:150px;
}
.show div{
  display:none;
  position:relative;
}
.show:hover div{
  display:block;
  width:100%;
}
.glyphicon-plus{
  padding:30px;
  padding-top:60px;
  padding-bottom:60px;
  font-size:40px;
}
