<ol class="breadcrumb" *ngIf="accountData!=null">
  <li><a [routerLink]="['/']">Home</a></li>
  <li class="active">Show Listing</li>
</ol>
<div class="row" *ngIf="accountData!=null">
  <div class="col-lg-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="text-center"><a [routerLink]="['/episode/list']">Latest Episodes</a></h5>
      </div>
      <div class="panel-body">
        <latest [noBread]="true" [limit]="5"></latest>
      </div>
    </div>
  </div>
  <div class="col-lg-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="text-left">
          Show Listings
            <a class="label label-default" (click)="sortByLastEpisode()" *ngIf="sorted[0]=='episode' && sorted[1]=='desc'">Last Episode (asc)</a>
            <a class="label label-default" (click)="sortByLastEpisode(true)" *ngIf="(sorted[0]=='episode' && sorted[1]=='asc') || sorted[0]!='episode'">Last Episode (desc)</a>
            <a class="label label-default" (click)="sortByTitle()" *ngIf="sorted[0]=='title' && sorted[1]=='desc' || sorted[0]!='title'">Title (asc)</a>
            <a class="label label-default" (click)="sortByTitle(true)" *ngIf="sorted[0]=='title' && sorted[1]=='asc'">Title (desc)</a>
          <a class="label label-default" (click)="sortByTotalEpisodes()" *ngIf="sorted[0]=='total' && sorted[1]=='desc'">Total Episodes (asc)</a>
          <a class="label label-default" (click)="sortByTotalEpisodes(true)" *ngIf="sorted[0]=='total' && sorted[1]=='asc' || sorted[0]!='total'">Total Episodes (desc)</a>
        </h5>
      </div>
      <div class="panel-body">
        <show [show]="show" *ngFor="let show of shows"></show>
        <div class="col-md-2 show  text-center" *ngIf="accountData .level==2">
          <a class="img-thumbnail" [routerLink]="['/show/create']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="accountData!=null">
  <div class="col-lg-12">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h5 class="text-center"><a [routerLink]="['/favorite/unfinished']">Finish Watching</a></h5>
      </div>
      <div class="panel-body">
        <unfinished [noBread]="true" [limit]="6"></unfinished>
      </div>
    </div>
  </div>
</div>
<div class="loadingIcon" *ngIf="accountData==null"></div>
<!--
background: linear-gradient(to right, rgba(241,237,255,1) {{episode.watching.progress}}%, rgba(255,255,255,0) {{episode.watching.progress}}%);
background: linear-gradient(to right, rgba(243,255,237,1) {{episode.watching.progress}}%,rgba(255,255,255,0) {{episode.watching.progress}}%);
-->
