<div class="row">
    <div class="col-md-4" *ngIf="groupService!=null">
        <div class="form-group">
            <label for="groupname">Group Name</label>
            <input class="form-control" type="text" [(ngModel)]="name" id="groupname" name="groupname" />
        </div>
        <input type="button" class="btn btn-primary" (click)="new()" value="Create Group">
    </div>
    <div class="col-md-8" *ngIf="groupService!=null">
        <div class="group panel panel-default" *ngIf="groups!=null && groups.length>0">
            <div class="col-md-12 panel" *ngFor="let groupId of groups">
                <div class="panel-body">
                    <div class="col-md-9">
                        <div class="panel-body" style="border-bottom:#909090 2px solid;padding-bottom:2px;margin-bottom:10px;">
                            <div class="col-md-12 text-left">
                                <small *ngIf="groupsData[groupId].episode==null">No episode selected at this time</small>
                                <h3 *ngIf="groupsData[groupId].episode!=null">
                                    <b>{{groupsData[groupId].show.title}}</b>
                                    <small>Episode {{groupsData[groupId].episode.episode}}
                                        <span *ngIf="groupsData[groupId].status=='play'"><span style="color:#06ba03;" class="glyphicon glyphicon-play"></span></span>
                                        <span *ngIf="groupsData[groupId].status=='pause'"><span style="color:#9a362a;" class="glyphicon glyphicon-pause"></span></span>
                                    </small>
                                </h3>
                            </div>
                        </div>
                        <div>
                            <div class="col-md-6 text-left">
                                <h5><b style="text-transform: uppercase">{{groupsData[groupId].name}}</b></h5>
                            </div>
                            <div class="col-md-6 text-left">
                                Leader: {{groupsData[groupId].leader[1]}}<br/>
                                Members: {{groupsData[groupId].users.length}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <a *ngIf="groupsData[groupId].episode==null" class="btn btn-info" (click)="join(groupsData[groupId].name)">Join</a>
                        <a *ngIf="groupsData[groupId].episode!=null" class="img-thumbnail" (click)="join(groupsData[groupId].name)">
                            <img width="100%" src="//vid.animecap.com/{{groupsData[groupId].episode.uuid}}.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  *ngIf="groupService==null" style="color:#fff;font-size:40px;text-align:center;">Connecting or the service is down</div>
</div>
