.episode{
    cursor: pointer;
}
.episode:hover{
    border: #3c6fc6 1px solid;
}
.episode img{
    display:block;
}
.episode h5{
    padding-left:6px;
    font-weight: bold;
    font-size:15px;
    position:absolute;
    margin-top:-50px;
    background:#0d0d0d;
    opacity: 0.80;
    padding-top:6px;
    padding-bottom:8px;
    padding-right:10px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.episode h5 small{
    color: #bbbbbb;
    font-weight: normal;
}
.episode:hover h5{
    background: #25230c;
}
.episode:hover h5 small{
    color: #ffffff;
}
.episode-compressed{
    display: block;
    padding:5px;
    border-radius: 4px;
}
.episode-compressed .row{
    padding:0px;
    margin:0px;
}
.episode-compressed .col-md-4{
    padding:0px;
    margin:0px;
}
.episode-compressed .col-md-4 img{
    border:1px solid #0d0d0d;
}
.episode-compressed:hover .col-md-4 img{
    border:1px solid #3c6fc6;
}
.episode-compressed .col-md-8{
    padding:0px;
    margin:0px;
}
.episode-compressed .list-group-item-heading{
    padding:0px;
    padding-top:5px;
    margin:0px;
    padding-left:10px;
}
.episode-compressed .list-group-item-text{
    padding:0px;
    margin:0px;
    padding-left:10px;
}
.episode-compressed:hover{
    background: #111111;
}