<ng-container *ngIf="!compressed">
  <ng-container *ngIf="episodeData!=null && remote.is()==0 && groupService.groupid==null">
    <a class="thumbnail episode" [routerLink]="['/watch/'+episodeData.episode.key+'/'+showData?.data?.title?.toLowerCase()?.split(' ')?.join('_')+'/episode_'+episodeData.episode?.data?.episode]">
      <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
      <h5>
        <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
        Episode {{episodeData.episode.data.episode}}
        <small *ngIf="episodeData!=null && !includeShow">
          <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
        </small>
      </h5>
    </a>
  </ng-container>
  <ng-container *ngIf="episodeData!=null && remote.is()>0 && groupService.groupid==null">
    <a class="thumbnail episode" (click)="load(accountService.sessionKey(), episodeData.episode.key)">
      <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
      <h5>
        <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
        Episode {{episodeData.episode.data.episode}}
        <small *ngIf="episodeData!=null && !includeShow">
          <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
        </small>
      </h5>
    </a>
  </ng-container>
  <ng-container *ngIf="episodeData!=null && groupService.groupid!=null && groupService.leader==accountService.user().data.user">
    <a class="thumbnail episode" (click)="groupload(accountService.sessionKey(), episodeData.episode.key)">
      <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
      <h5>
        <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
        Episode {{episodeData.episode.data.episode}}
        <small *ngIf="episodeData!=null && !includeShow">
          <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
        </small>
      </h5>
    </a>
  </ng-container>
</ng-container>
<ng-container *ngIf="compressed">
  <ng-container *ngIf="episodeData!=null && remote.is()==0 && groupService.groupid==null">
    <a href="#" class="episode-compressed" [routerLink]="['/watch/'+episodeData.episode.key+'/'+showData?.data?.title?.toLowerCase()?.split(' ')?.join('_')+'/episode_'+episodeData.episode.data.episode]">
      <div class="row">
        <div class="col-md-4">
          <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
        </div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading">Episode {{episodeData.episode.data.episode}}</h4>
          <p class="list-group-item-text" style="color:#868686">
            <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
            <small *ngIf="episodeData!=null && !includeShow">
              <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
            </small>
          </p>
        </div>
      </div>
    </a>
  </ng-container>
  <ng-container *ngIf="episodeData!=null && remote.is()>0 && groupService.groupid==null">
    <a class="episode-compressed" (click)="load(accountService.sessionKey(), episodeData.episode.key)">
      <div class="row">
        <div class="col-md-4">
          <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
        </div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading">Episode {{episodeData.episode.data.episode}}</h4>
          <p class="list-group-item-text" style="color:#868686">
            <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
            <small *ngIf="episodeData!=null && !includeShow">
              <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
            </small>
          </p>
        </div>
      </div>
    </a>
  </ng-container>
  <ng-container *ngIf="episodeData!=null && groupService.groupid!=null && groupService.leader==accountService.user().data.user">
    <a class="episode-compressed" (click)="groupload(accountService.sessionKey(), episodeData.episode.key)">
      <div class="row">
        <div class="col-md-4">
          <img src="//{{envService.api}}/api/file/video/thumbnail/{{episodeData.source.key}}" width="100%" class="img-rounded"/>
        </div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading">Episode {{episodeData.episode.data.episode}}</h4>
          <p class="list-group-item-text" style="color:#868686">
            <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{showData?.data?.title}}</small>
            <small *ngIf="episodeData!=null && !includeShow">
              <span *ngIf="progress!=null && duration!=null">{{(progress/duration)*100 | round}}% Complete</span>
            </small>
          </p>
        </div>
      </div>
    </a>
  </ng-container>
</ng-container>
<ng-container *ngIf="episodeData==null">
  <img class="thumbnail episode" src="//vid.animecap.com/ring.svg"/>
</ng-container>
