<nav class="navbar navbar-default" *ngIf="groupService.groupid==null || groupService.leader==accountService.saved.user && !groupService.playing">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnavigationbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        {{title}}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="topnavigationbar">
      <ul class="nav navbar-nav" *ngIf="accountService.saved!=null">
        <li><a [routerLink]="['/show/list']">Shows</a></li>
        <li><a [routerLink]="['/episode/list']">Latest Episodes</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Favorites <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/show/favorites']">Show Listing</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/favorite/unseen']">Unseen Episodes</a></li>
            <li><a [routerLink]="['/favorite/unfinished']">Unfinished Episodes</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/group']">
            Group Watch
            <span *ngIf="groupService.leader==accountService.saved.user" class="glyphicon glyphicon-star" style="color:#1ce1ff;"></span>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Remote Control <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let instance of instances">
              <a *ngIf="instance[0]!=sessionKey" (click)="controlInstance(instance[0])">
                <span *ngIf="controlling.has()[instance[0]]" style="color:#004200;padding-right:5px;"><span class="glyphicon glyphicon-ok"></span></span>
                 {{instance[1]}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="ws.client().connected" class="active">
          <a *ngIf="!controlling.slave && controlling.controlling==0" style="color:#60ffa2;"><span class="glyphicon glyphicon-sort"></span></a>
          <a *ngIf="!controlling.slave && controlling.controlling>0" [routerLink]="['/host']" style="color:#ff9632;cursor:pointer;"><span class="glyphicon glyphicon-cloud"></span> Remote Control</a>
          <a *ngIf="controlling.slave" style="color:#ff16f6;"><span class="glyphicon glyphicon-cloud"></span>Remotely Controlled</a>
        </li>
        <li *ngIf="accountService.saved==null"><a [routerLink]="['/login']">Member's Area</a></li>
        <li *ngIf="accountService.saved==null"><a [routerLink]="['/register']">Create New Account</a></li>
        <li *ngIf="accountService.saved!=null"><a [routerLink]="['/logout']">Logout <span *ngIf="accountService.saved.level==2">admin-</span>{{accountService.saved.user}}!</a></li>
      </ul>
    </div>
  </div>
</nav>
