<div class="row">
    <div class="col-md-4">
        <div class=" panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Video Page</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="videoCompletePercent" class="col-sm-9 control-label" style="padding-top:10px;">Percent of video watched to be completed</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" [(ngModel)]="completePercent" (change)="save('completePercent')" id="videoCompletePercent" placeholder="97%">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" [(ngModel)]="rollToNextVideo" (change)="save('rollToNextVideo')"> Go to next video when at {{completePercent}}% complete
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="checkbox">
                            <label>
                                <input [disabled]="rollToNextVideo" type="checkbox" [(ngModel)]="goBackToShowOnComplete" (change)="save('goBackToShowOnComplete')"> Go back to show page when video completes
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="border-bottom:1px solid #666666;width:100%;height:10px;margin-bottom:20px;"></div>
                <div class="form-group">
                    <label for="videoSource" class="col-sm-3 control-label" style="padding-top:10px;">Video Source</label>
                    <div class="col-sm-9">
                        <select type="text" class="form-control" [(ngModel)]="videoSource" (change)="save('videoSource')" id="videoSource">
                          <option value="any">Any</option>
                          <option value="webm">720p Source ( [webm VP9] opera/firefox/safari )</option>
                          <option value="md">720p Source ( [h.265] chrome )</option>
                          <option value="sd">480p Source ( [h.265] chrome )</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
