<a *ngIf="episodeData!=null && remote.is()==0 && groupService.groupid==null" class="thumbnail episode" [routerLink]="['/watch/'+episodeData.episode.id+'/'+episodeData.show.title.toLowerCase().split(' ').join('_')+'/episode_'+episodeData.episode.episode]">
  <img src="https://vid.animecap.com/{{episodeData.source.original}}.png" width="100%" class="img-rounded"/>
  <h5>
    <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{episodeData.show.title}}</small>
    Episode {{episodeData.episode.episode}}
    <small *ngIf="episodeData!=null && !includeShow">
      <span *ngIf="episodeData.wr!=null && duration!=null">{{(episodeData.wr.progress/duration)*100 | round}}% Complete</span>
    </small>
  </h5>
</a>
<a *ngIf="episodeData!=null && remote.is()>0 && groupService.groupid==null" class="thumbnail episode" (click)="load(episodeData.episode.id)">
  <img src="https://vid.animecap.com/{{episodeData.source.original}}.png" width="100%" class="img-rounded"/>
  <h5>
    <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{episodeData.show.title}}</small>
    Episode {{episodeData.episode.episode}}
    <small *ngIf="episodeData!=null && !includeShow">
      <span *ngIf="episodeData.wr!=null && duration!=null">{{(episodeData.wr.progress/duration)*100 | round}}% Complete</span>
    </small>
  </h5>
</a>
<a *ngIf="episodeData!=null && groupService.groupid!=null && groupService.leader==accountService.saved.user" class="thumbnail episode" (click)="groupload(episodeData.episode.id)">
  <img src="https://vid.animecap.com/{{episodeData.source.original}}.png" width="100%" class="img-rounded"/>
  <h5>
    <small *ngIf="includeShow" style="font-size:11px;height:11px;width:100%;display:inline-block;overflow:hidden;">{{episodeData.show.title}}</small>
    Episode {{episodeData.episode.episode}}
    <small *ngIf="episodeData!=null && !includeShow">
      <span *ngIf="episodeData.wr!=null && duration!=null">{{(episodeData.wr.progress/duration)*100 | round}}% Complete</span>
    </small>
  </h5>
</a>
<span *ngIf="episodeData==null">
  <img class="thumbnail episode" src="https://vid.animecap.com/ring.svg"/>
</span>
