<a *ngIf="episodeData!=null" class="thumbnail episode" [routerLink]="['/watch/'+episodeData.episode.id+'/'+episodeData.show.title.toLowerCase().split(' ').join('_')+'/episode_'+episodeData.episode.episode]">
  <img src="https://vid.animecap.com/{{episodeData.source.original}}.png" width="100%" class="img-rounded"/>
  <h5>Episode {{episodeData.episode.episode}} <small *ngIf="episodeData!=null"><span *ngIf="episodeData.wr!=null && duration!=null">{{(episodeData.wr.progress/duration)*100 | round}}% Complete</span></small></h5>
</a>
<span *ngIf="episodeData==null">
  <img class="thumbnail episode" src="https://vid.animecap.com/ring.svg"/>
</span>
