<div class="col-md-12" *ngIf="info.episode!=null">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-sm-4 text-center"  *ngIf="!info.hasPrev">&nbsp;</div>
                <div class="col-sm-4 text-center"  *ngIf="info.hasPrev">
                    <a (click)="remote.action(session, 'prev');" style="font-size:50px;"><span class="glyphicon glyphicon-step-backward"></span></a>
                </div>
                <div class="col-sm-4 text-center" *ngIf="!info.playing">
                    <a (click)="remote.action(session, 'play');" style="font-size:50px;"><span class="glyphicon glyphicon-play"></span></a>
                </div>
                <div class="col-sm-4 text-center" *ngIf="info.playing">
                    <a (click)="remote.action(session, 'pause');" style="font-size:50px;"><span class="glyphicon glyphicon-pause"></span></a>
                </div>
                <div class="col-sm-4 text-center" *ngIf="info.hasNext">
                    <a (click)="remote.action(session, 'next');" style="font-size:50px;"><span class="glyphicon glyphicon-step-forward"></span></a>
                </div>
                <div class="col-sm-4 text-center" *ngIf="!info.hasNext">&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="range" min="0" [max]="info.duration" id="videoPosition" step="0.1" (change)="seek()">
        </div>
    </div>
</div>
<div class="loadingIcon" *ngIf="info.episode==null"></div>