<div *ngIf="episodes!=null">
  <ol class="breadcrumb" *ngIf="!noBread">
    <li><a [routerLink]="['/']">Home</a></li>
    <li class="active">Latest Episodes Listing</li>
  </ol>
  <ng-container *ngIf="!noBread &&  !compressed">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2" *ngFor="let episode of episodes">
          <episode [episode]="episode" [includeShow]="true"></episode>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="noBread && !compressed">
    <ng-container *ngFor="let episode of episodes">
      <div class="row">
        <episode class="col-md-12" [episode]="episode" [includeShow]="true"></episode>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="compressed">
    <div class="col-md-12">
      <div class="list-group">
        <ng-container *ngFor="let episode of episodes">
          <episode [episode]="episode" [compressed]="true" [includeShow]="true" class="list-group-item" style="margin:0px;padding:0px;"></episode>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="episodes==null" class="loadingIcon"></div>
