<div *ngIf="episodes!=null">
  <ol class="breadcrumb" *ngIf="!noBread">
    <li><a [routerLink]="['/']">Home</a></li>
    <li class="active">Unfinished Episodes</li>
  </ol>
  <ng-container *ngIf="!compressed">
    <div class="row">
      <div class="col-md-12">
        <episode class="col-md-2" *ngFor="let episode of episodes" [episode]="episode.key" [compressed]="compressed"></episode>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="compressed">
    <div class="col-md-12">
      <div class="list-group">
        <ng-container *ngFor="let episode of episodes">
          <episode [episode]="episode.key" [compressed]="true" class="list-group-item" style="margin:0px;padding:0px;"></episode>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<div *ngIf="episodes==null" class="loadingIcon"></div>
