<div>
  <ol class="breadcrumb" *ngIf="episodeData!=null">
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/show/list']">Show Listing</a></li>
    <li><a [routerLink]="['/show/'+episodeData.show.id+'/'+episodeData.show.title.toLowerCase().split(' ').join('_')]">{{episodeData.show.title}}</a></li>
    <li class="active">Episode {{episodeData.episode.episode}}</li>
  </ol>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="row">
        <div class="col-md-11"><h4 *ngIf="episodeData!=null">{{episodeData.show.title}} Episode {{episodeData.episode.episode}}</h4></div>
        <div class="col-md-1 text-right"><a (click)="fullscreen()"><span class="glyphicon glyphicon-resize-full"></span></a></div>
      </div>
      <div id="videoWrapper">
        <video  *ngIf="episodeData!=null" (loadeddata)="test" (seeked)="seeked()" (stalled)="buffering()" (pause)="paused()" preload="auto" poster="//vid.animecap.com/{{episodeData.episode.uuid}}.png" (timeupdate)="timeSend()" (play)="playing()" controls="controls" width="100%">
          <source *ngIf="videoSource=='sd' || videoSource=='any'" src="//vid.animecap.com/{{episodeData.sd[0].original}}.webm"/>
          <source *ngIf="videoSource=='source' || videoSource=='any'" src="//vid.animecap.com/{{episodeData.source.original}}.mp4"/>
          <track label="English" kind="subtitles" srclang="en" src="//animecap.com/subtitle/{{episodeData.episode.uuid}}/sub.vtt" default/>
        </video>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="episodeData!=null">
    <div class="col-md-12">
      <ul class="pager">
        <li class="previous" *ngIf="prev!=null"><a (click)="showEpisode(prev)" style="cursor: pointer;"><span aria-hidden="true">&larr;</span> Episode {{prev.episode}}</a></li>
        <li class="next" *ngIf="next!=null"><a (click)="showEpisode(next)" style="cursor: pointer;">Episode {{next.episode}} <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="episodeData==null" class="loadingIcon"></div>
